@model IEnumerable<DALLibrary.Domain_Classes.Message>

@{
    ViewBag.Title = "MessagePatient";
    Layout = "~/Views/Shared/_Layout_Doctor.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
<link href="~/Content/MessageStyle.css" rel="stylesheet" />

<div class="container">

    <h4 class=" text-center">Messaging  @Session["Pname"]  </h4>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>List Of Patients</h4>
                    </div>
                </div>

                <div class="inbox_chat">
                    @foreach (DALLibrary.Domain_Classes.Appointment item in ViewBag.Appointments)
                    {

                        <div class="chat_list active_chat">
                            <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="not loaded"> </div>
                                <div class="chat_ib">
                                    <h5> @item.Patient.Name <span class="chat_date">@item.StartDateTime.ToString("dddd , dd-MM-yyyy")</span></h5>
                                    @using (Html.BeginForm("MessagePatient", "Doctor", FormMethod.Post))
                                    {
                                        <button class="btn btn-primary" type="submit" name="id" value=@item.PatientId>View Message</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="mesgs">

                <div class="msg_history">
                    @if (Model != null)
                    {
                        foreach (DALLibrary.Domain_Classes.Message item in Model.ToList())
                        {
                            
                            if (item.SenderId == (int)Session["PatientId"])

                            {
                                <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <span>@Session["Pname"]</span>
                                            <p>
                                                @item.Message_
                                            </p>
                                            <span class="time_date"> @item.MessageTime</span>
                                            <span class="time_date"> @item.Status</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.ReceiverId == (int)Session["PatientId"])

                            {
                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>
                                            @item.Message_
                                        </p>
                                        <span class="time_date"> @item.MessageTime</span>
                                        <span class="time_date"> @item.Status</span>
                                    </div>
                                </div>
                            }


                        }
                    }
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        @using (Html.BeginForm("AddMessage", "Doctor", FormMethod.Post))
                        {
                            <input type="text" class="write_msg" id="txtMessage" name="txtMessage" maxlength="200" placeholder="Type a message" required style="color: black;" />
                            <button class="msg_send_btn" type="submit" name="id" value=@Session["PatientId"]><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                        }
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

